@{
    ViewBag.Title = "Contact";
}
<br />

<div style="color:blue;font-family:'Franklin Gothic';">

    <address>
        3427 Ady Rd<br />
        Street, MD 21154<br />
        <abbr title="Phone">P: </abbr>443-987-2224
    </address>

    <address>
        <strong>Support:</strong>   <a href="#">mduncan2600@gmail.com</a><br />
    </address>

</div>